.op-area { margin-bottom: 20px; }
.view-l { padding: 0; list-style: none; width: 310px; }
	.v-i { width: 90px; height: 90px; line-height: 90px; text-align: center; font-size: 21px; border: 1px solid #CCC; float: left; margin: 5px; }